/*
    Nesse campo, o input do news passa a ocupar metade da largura em tela com a largura mínima (a partir de) de 768px
*/
@media(min-width: 768px){ 
    .news-input{
        width: 50%;
    }
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


